@page "/"
@using Blog.Shared.Models.Posts.Dtos
@using Blog.Service.Posts

<PageTitle>Index</PageTitle>


@*<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @foreach (var post in Posts)
    {
        <div class="col">
            <article class="d-flex flex-column" style="width: 18rem;">
                <img src="/img/test01.jpg" class="card-img-top rounded float-start" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <p class="card-text">@post.Content</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </article>
        </div>
    }
</div>*@

@code
{

    public List<PostSelectDto> Posts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Posts = await new PostService().GetPosts(100,CancellationToken.None);
    }

}
